@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansLight';
  src: url('../assets/fonts/GmarketSansLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('../assets/fonts/GmarketSansMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('../assets/fonts/GmarketSansBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Pretendard-Regular';
}

h1,
h2 {
  font-family: 'GmarketSansBold';
}
.common-btn {
  @apply rounded-full border border-indigo-600 bg-indigo-50 px-4 py-2 font-medium text-indigo-700 transition-colors hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.warn-btn {
  @apply rounded-full border border-red-600 bg-red-50 px-4 py-2 font-medium text-red-700 transition-colors hover:bg-red-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-600;
}
.common-form {
  @apply mx-auto w-full p-5;
}

.common-input {
  @apply rounded-md border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-indigo-600;
}

.common-nav {
  @apply inline-block rounded-lg px-4 py-2 text-lg font-bold;
}

.common-box {
  @apply flex w-full max-w-md flex-col gap-1 rounded-2xl border border-indigo-600 p-6 shadow-md;
}

.swiper-pagination-bullet {
  background-color: #d1d5db !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #4f46e5 !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
  @apply m-0 h-6 w-[18px] -translate-y-1/2 bg-white/40;
}

.swiper-button-prev {
  @apply rounded-l;
}

.swiper-button-next {
  @apply rounded-r;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-sm font-semibold text-gray-700;
}
