@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansLight';
  src: url('../assets/fonts/GmarketSansLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('../assets/fonts/GmarketSansMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('../assets/fonts/GmarketSansBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --color-primary: #4f46e5;
  --color-border: #e5e7eb;
  --color-on-primary: #ffffff;
  --color-text-main: #222222;
  --color-text-sub: #666666;
  --color-warn-red: #dc2626;
  --color-on-warn-red: #ffffff;

  --color-text-black: #000000;
  --color-text-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-fg: #ffffff;
    --color-primary: #6366f1;
    --color-border: #374151;
    --color-on-primary: #ffffff;
    --color-text-main: #f3f4f6;
    --color-text-sub: #9ca3af;
    --color-warn-red: #dc2626;
    --color-on-warn-red: #ffffff;

    --color-text-black: #ffffff;
    --color-text-white: #000000;
  }
}

body {
  font-family: 'Pretendard-Regular';
}

h1,
h2 {
  font-family: 'GmarketSansBold';
}
.common-btn {
  @apply border-primary hover:bg-primary text-primary hover:text-onPrimary rounded-full border bg-indigo-50 px-4 py-2 font-medium transition-colors focus:outline-none;
}

.warn-btn {
  @apply hover:text-onWarn border-warn hover:bg-warn text-warn rounded-full border bg-red-50 px-4 py-2 font-medium transition-colors focus:outline-none;
}
.common-form {
  @apply mx-auto w-full p-5;
}

.common-input {
  @apply focus:ring-primary rounded-md border border-gray-300 p-2 focus:outline-none focus:ring-2;
}

.common-nav {
  @apply text-textBlack inline-block rounded-lg px-4 py-2 text-lg font-bold;
}

.common-box {
  @apply border-primary flex w-full max-w-md flex-col gap-1 rounded-2xl border p-6 shadow-md;
}

.swiper-pagination-bullet {
  background-color: #d1d5db !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #4f46e5 !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
  @apply m-0 h-6 w-[18px] -translate-y-1/2;
  background-color: rgba(255, 255, 255, 0.4);
}

.swiper-button-prev {
  @apply rounded-l;
}

.swiper-button-next {
  @apply rounded-r;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-sm font-semibold text-gray-700;
}
